.sliderWrapper {
    margin: 10px auto;
}

.heroImg img {
    height: 50vh !important;
    object-fit: fill;
    object-position: bottom;
}

@media only screen and (max-width: 768px) {
    .heroImg img {
        height: 1500px !important;
    }
}
